:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Tangerine",
    Roboto, "Helvetica Neue", Arial, "Josefin Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: 'Nunito', sans-serif, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-sm1: 15px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 26px;
  --text-4xl: 28px;
  --text-5xl: 30px;
  --text-5xl1: 40px;
  --text-6xl: 50px;
  --text-base: 22px;
  --text-banner: 60px;
  --text-banner1: 80px;
  --text-menulist: 40px;
  
  --color-white: #fff;
  --color-black: #000;



}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.required {
  padding-left: 5px;
  color: red;
  font-size: 80%;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: var(--color-base);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

body {
  line-height: 1.5;
  color: var(--color-base);
  font-family: var(--font-family-monospace);
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0px;
  background-color: var(--theme-bg);
  color: var(--color-based)
}

.container{ max-width:1200px; width:100%; margin:0px auto;}
.sectionpart{ margin:30px 0 30px;}

/*---------------------------------  Theme change ---------------------------------------------*/
input[type=checkbox]#changer{ display:none}
input[type=checkbox]#changer:checked + label + .themebox{ color: var(--color-white); background-color: var(--color-black); }
input[type=checkbox]#changer + label + .themebox{ background-color: var(--color-white); color: var(--color-black); }

.themebox{ text-align:center; padding:50px 50px; font-size:var(--text-xl); border-radius:50px; border:1px solid #e2e2e2;}
.checktheme{     margin-bottom: 15px;  width: 70px;  height: 30px;  display: flex;  flex-wrap: wrap; align-items: center;   border: 2px solid #5ad9d2;
    border-radius: 20px;  padding: 0px 5px; justify-content: space-between; cursor:pointer; font-size:var(--text-md); position:relative;margin-top: 30px;
    margin-left: 10px;}
.checktheme:after{     z-index: 1;  position: absolute; content: '';  display: block;  width: 40px;  height: 40px;   background-color: #ffc107;
    border-radius: 50%;    left: -8px; transition: .5s; transform: translateX(0px) rotate(180deg);}
.checktheme span i{ z-index:9; position:relative;}
.checktheme span:first-child{ color: #fff; transition: .5s;}
input[type=checkbox]#changer:checked + .checktheme span:first-child{ color: #000;transition: .5s;}
input[type=checkbox]#changer:checked + .checktheme span:last-child{ color: #fff;transition: .5s; }
input[type=checkbox]#changer:checked + .checktheme:after{ background-color:#000;  transform: translateX(40px) rotate(360deg); transition: .5s;}

/*--------------------------------- Stylish Menu ---------------------------------------------*/
.menubarstylish{ width:600px; background-color:#fbfbfb; padding:10px  50px;  border-radius:30px; margin-top:50px;}
.menubarstylish ul{ margin:0px auto; padding:0px; display:flex; justify-content: space-between; }
.menubarstylish ul li{ list-style:none;    font-size: var(--text-lg); text-align:center; position:relative; margin:0px 15px;}
.menubarstylish ul li a{ width:40px; height:40px; border-radius:50px; line-height:40px;display: block; border-radius:50%; position:relative; z-index:2; color:#000;transition: .4s ease;  -webkit-transform: translate(0,0px);   -ms-transform: translate(0,0px);
    transform: translate(0,0px);}
.menubarstylish ul li:before{ content: ''; width: 60px; height: 60px; border-radius: 15%; background-color: #fbfbfb; left: calc(50% - 30px);
    display: block; position: absolute;    z-index: 1; top: -10px; transition: .5s;}
.menubarstylish ul li:hover:before{ top:-35px;}
.menubarstylish ul li:hover a{ background-color:#f00; transition: .3s; color:#fff;-webkit-transform: translate(0,-20px);
    -ms-transform: translate(0,-20px);  transform: translate(0,-20px);}
.menubarstylish ul li a:after{     content: attr(data-menu);  display: block; background-color: #000;  color: #fff;  padding: 3px 10px;
    z-index: 999;  position: absolute; left: calc(50% - 50px);  font-size: 14px; line-height: initial; border-radius: 16px;  min-width: 100px;
    font-weight: 500;  margin-top: 5px; opacity:0; transition: .5s;}
.menubarstylish ul li:hover a:after{ opacity:1;}

/*---------------------------------  Text Loader ---------------------------------------------*/
.loadingtext{ color:#f9f9f9; font-size:var(--text-3xl); position:absolute; margin:0px;}
.loadingtext:before{ content:'Loading...'; position:absolute; top:0; left:0; width:0; height:100%; overflow:hidden; color:red; animation: loading 4s linear infinite; border-right:1px solid red;}
@keyframes loading{
	0%, 10%, 100%{ width:0;}	
	60%, 80%{ width:100%;}
}

/*---------------------------------  Bubble Loader ---------------------------------------------*/
.bubbleloader{ width: 120px;  height: 80px; display: flex;     align-items: flex-end; justify-content: space-between; }
.bubble{ width:15px; height:15px; background-color:red; animation: bounce .6s alternate infinite;}
.bubble:nth-child(2){ animation-delay: .2s}
.bubble:nth-child(3){ animation-delay: .4s}
@keyframes bounce{
	from{ transform: scaleX(1.25) }	
	to{ transform: translateY(-50px) scaleX(1)}
}

/*---------------------------------  Attentive animation ---------------------------------------------*/
.attentionanimation{ width:25px; height:25px; background-color:#00B1F6; box-shadow: 0px 0px 1px 1px #0000001a; animation: attention 2s infinite; border-radius:50%;}
@keyframes attention{
	0% {
    box-shadow: 0 0 0 0px rgba(0, 177, 246, 0.2);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 177, 246, 0.1);
  }  
  100% {
    box-shadow: 0 0 0 10px rgba(0, 177, 246, 0.05);
  }
}


/*---------------------------------  Stylish Button and Hover effects ---------------------------------------------*/
.stylish{    display: flex;  align-items: center;  color: #000;  background-color: transparent;  padding: 12px 18px;  position: relative; cursor:pointer; border:none; font-size:var(--text-lg);}
.stylish i{ margin-left:5px; transition: transform .25s .4s cubic-bezier(0,0,.5,2); position: relative; z-index:91;    font-size: 10px; }
.stylish:hover i{ transform: translateX(3px);}
.stylish:before{ content:''; position:absolute; top:50%; transform: translateY(-50%) translateX(calc(100% + 4px)); width:40px; height:40px; border-radius:50px;  background-color:#ffc107; z-index:9; transition: transform 0.25s .25s cubic-bezier(0,0,.5,2), width .25s cubic-bezier(0,0,.5,2)   }
.stylish span{ position:relative; z-index:99}
.stylish:hover:before{ width:100%; transform: translateY(-50%) translateX(-18px); transition: transform 0.25s .25s cubic-bezier(0,0,.5,2), width .25s cubic-bezier(0,0,.5,2)}
